@tailwind base;
@tailwind components;
@tailwind utilities;

.grad_back_landing {
    /* background: linear-gradient(135deg, rgb(214, 255, 127), rgb(0, 179, 204)); */
    /* background: linear-gradient(135deg, rgb(144, 85, 255), rgb(19, 226, 218)); */
    /* background: linear-gradient(135deg, rgb(64, 37, 101), rgb(48, 190, 150)); */
    /* background: linear-gradient(135deg, rgb(47, 128, 237), rgb(178, 255, 218)); */
    background: linear-gradient(135deg, rgb(203, 94, 238), rgb(75, 225, 236));
    height: 100vh;
    width: 100vw;
}
